body {
   background-color: #f7f7f7;
}

.formstyle {
	box-shadow: 3px 3px solid black;
	margin: 0 auto;
	width: 50%;
	text-align: center;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family:'Josefin Sans', sans-serif;
	font-size: 1.5rem;
	
}

.pageheader {
    padding: 5px;
    text-align:center;
    background:transparent;
    color:#000000;
    font-size: 4.0rem;
    font-family:'Josefin Sans', sans-serif;
}

th,td {
    padding: 5px;
    text-align: center;
}

.tablestyle {
    width: 70%;
    margin: 0px auto;
    float: none;
}

#quizQuestionsDetailsForm {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;