@charset "ISO-8859-1";

			.logoutonly {
				width: 28% !important;
				margin-left: 200px !important;
				padding-right: 20px;
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
			}
			
			li {first-child { float:left;}}
			
			li a {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				float: left; 
			}
			
			li a:hover { background-color: #111; }
			
			input[type=submit]:hover {
				background-color: #961212;
			}
			
			input[type=submit] {
				width: 20%;
				background-color: #720c0c;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}
			
			
			