.QuizList {
  padding: 20px;
  background-color: #2222;
  line-height: 300%;
  margin: 30px;
  height: 340px
}

.Prof-Button{

  position:fixed;
  font-size: 15px;
  padding: 7px 15px;
  right: 18px;

}
