<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Quiz</display-name>
	<description>SER516 Quiz</description>

	<servlet>
		<servlet-name>QuizDetailsController</servlet-name>
		<servlet-class>quiz.controller.professor.QuizDetailsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuizActionController</servlet-name>
		<servlet-class>quiz.controller.professor.QuizActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddQuestionsController</servlet-name>
		<servlet-class>quiz.controller.professor.AddQuestionsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateQuestionsInQuiz</servlet-name>
		<servlet-class>quiz.controller.professor.UpdateQuestionsInQuiz</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewQuestionsOfQuiz</servlet-name>
		<servlet-class>quiz.controller.professor.ViewQuestionsOfQuiz</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>StudentQuiz</servlet-name>
    <servlet-class>quiz.controller.student.StudentQuiz</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentQuestionsAndOptions</servlet-name>
    <servlet-class>quiz.controller.student.StudentQuestionsAndOptions</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>quiz.controller.RegisterController</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>QuizDetailsController</servlet-name>
		<url-pattern>/createQuiz</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddQuestionsController</servlet-name>
		<url-pattern>/submitQuiz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateQuestionsInQuiz</servlet-name>
		<url-pattern>/updateQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewQuestionsOfQuiz</servlet-name>
		<url-pattern>/viewQuestions</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>QuizActionController</servlet-name>
		<url-pattern>/QuizAction</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>StudentQuiz</servlet-name>
		<url-pattern>/StudentQuiz</url-pattern>
	</servlet-mapping>
  
  	<servlet-mapping>
		<servlet-name>StudentQuestionsAndOptions</servlet-name>
		<url-pattern>/StudentQuestionsAndOptions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/RegisterController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>

</web-app>
