
<html>
	<head>
		<title>Quiz!</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	</head>
	<body>
		<div class="form_div">
			<div id="quizheadbaner">
				<h2 id = "quizhead">Quiz Details</h2>
			</div>
			<form action="/Quiz/createQuiz" method="POST" id = "quizdetailsform">
				<h2>Quiz Details</h2>
				<label for="title">Quiz Title: </label>
				<input type="text" name="title">
				<br>
				<br>
				<label for="instructions">Instructions: </label>
				<br>
				<br>
				<textarea name="instructions" rows="10" cols="30" form="quizdetailsform" placeholder="Enter Quiz Details"></textarea>
				<br>
				<br>
				<br>
				<label for="assignmentGroup">Assignment Group: </label>
				<input type="text" name="assignmentGroup" value="">
				<br>
				<input type="checkbox" name="graded" value="true"> Graded
  				<br>
  				<br>
  				<input type="checkbox" name="shuffled" value="true">Shuffle answers 
  				<br>
  				<br>
  				<label for="timeLimit">Time Limit (in minutes): </label>
  				<input type="text" name="timeLimit" value="30">
  				<br>
  				<br>
  				<input type="checkbox" name="multipleAttempt" value="true">Multiple Attempts
  				<br>
  				<br> 
  				<input type="submit" name="Action" value="Add Questions"/> 
  				<input type="submit" name="Action" value="Cancel"/> 
			</form>
		</div>
	</body>
</html>
