<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" type="text/css" href="stylesheet.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="javascript/quizInstructions.js"></script>

</head>
<body>

<h1>Quiz</h1>

<header>
  <h2>Quiz Instructions</h2>
</header>

  <article>This quiz contains 15 Questions </p>
    <p>Each question carries 10 marks.</p>
  </article>


<footer>
 <input type="button" class="button" id="startQuiz" value="Next">
</footer>

</body>
</html>