<html>
	<head>
		<title>Quiz Details</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cosmo/bootstrap.min.css">
  	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


	</head>
	<body>
		<div class="form_div">
			<div id="quizheadbaner">
				<h2 id = "quizhead">Quiz Details</h2>
			</div>
			<form id="quizdetailsform">
				<label for="quiztitle" required>Quiz Title: </label>
				<input id="quiztitle" type="text" name="quiztitle" placeholder="Untitled Quiz">
				<br>
				<br>
				<label for="quizdetails">Quiz Details</label>
				<br>
				<br>
				<textarea name="quizdetails" rows="10" cols="50" placeholder="Enter Quiz Details"></textarea>
				<br>
				<br>
				<br>
				<input type="radio" name="isGraded" value="true" checked>Graded
  				<input type="radio" name="isGraded" value="false">  Ungraded
  				<br>
  				<br>
  				<input type="checkbox" name="isShuffle" value="true" selected>Shuffle answers
  				<br>
  				<br>
  				<input type="checkbox" id="isTimeLimit" name="isTimeLimit" value="false" onclick="enableDisable(this.checked, 'minutecounter')">Time Limit
  				<input type="number" id="minutecounter" name="quiztitle" disabled>Minutes
  				<br>
  				<br>
  				<input id = "submitdesc" type="submit" name="Save Description" class="btn btn-success" value="Save & Add Questions">
			</form>
		</div>

		<script type="text/javascript">
			function enableDisable(bEnable, textboxID) {
				document.getElementById(textboxID).disabled = !bEnable;
			}	
		</script>


	</body>
</html>