<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/studentHomePage.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    
   
    <title>StudentHomePage</title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }
	.h3 {
   font-size: 38px;
   font-family: verdana;
	}
</style>
<body>
<div class="page-wrapper">
  <p align="right">
        <button class="button" style="color:black"><a href="https://www.google.com/"> Profile </a> </button>
        <button class="button"><a href="https://weblogin.asu.edu/cas/logout?eventSource=myasu">Logout</a></button>
  </p>
</div>
<div class="page-wrapper">
        <h3 align="center">STUDENT QUIZ PLATFORM </h3> <br> <br>
		<form name="Quiz">
		<fieldset align= "center">
			<legend>Available Quizes</legend>
			<p>
            <label> Quiz:</label> &ensp;
            <select name="QuizList" id ="QuizList">
            </select>
          </p>
       </fieldset>
	   </form> 
	   <button id="takeQuiz">Take Quiz</button>
	  
</div>
</body>
</html>