body{
	font-family: arial, sans-serif;
	
}

input[type=text], select, textarea{
  width: 97.6%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #0336FF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
	    margin: 0 10px 0px 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
 
 .invalid {
        border: 1px solid red !important;
    }
    
         form {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        input[name="question_text"] {
            font-family: arial, sans-serif;
            width: 97.6%;
            height: 20%;
        }

        input[name="1"],
        input[name="2"],
        input[name="3"],
        input[name="4"] {
            font-family: arial, sans-serif;
            width: 95%;
        }

        input[value="Add"],
        input[value="Save"] {
            width: 5%;
            height: 5%;
            font-size: 15px;
            margin: 10px 0px 0 10px;
        }

        p {
            font-family: arial, sans-serif;
            font-size: large;
            height: 5%;
        }
        
        .btn{
            background-color: #0336FF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
        }
        
        .btn-disabled{
         opacity: 0.5;
         cursor: not-allowed;
        }
 
 table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 98.5%;
  margin: 0 10px;
}

th, td {
  padding: 15px;
}