@charset "UTF-8";
h1 {	
  	color: black;
  	text-align: center;
  	padding: 12px;
  	text-decoration: none;
  	border-radius: 2px;
  	text-shadow: 1px 1px grey;
}

.action {
	margin: auto;
  	width: 40%;
  	padding: 5px;
  	
}

.logout {
	float: right;
	background-color: orange;
	width: 10%;
  	border: none;
  	border-radius: 8px;
}

.option {
	background-color: orange;
  	border: none;
 	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 8px;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	width: 90%;  	
  	margin: auto;
}

input:hover {
  background-color: DarkOrange;
}