@charset "UTF-8";
h1 {
	text-shadow: 1px 1px grey;
}

table {	
	width: 90%;
	text-align: center;
  	text-decoration: none;
  	border-radius: 8px;
}

td {
	border-radius: 4px;
}

.logout {
	float: right;
	background-color: orange;
	width: 10%;
  	border: none;
  	border-radius: 8px;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input {
	background-color: Gold;
  	border: none;
 	color: black;
  	padding: 3px 3px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 4px;
  	width: 100%;  	
  	margin: auto;
}

input:hover {
  background-color: DarkOrange;
}