
body {
   background-color: #f7f7f7;
}

.myformstyle {
	box-shadow: 3px 3px solid black;
	margin: 0 auto;
	width: 50%;
	height: 90%;
	text-align: center;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family:'Josefin Sans', sans-serif;
	font-size: 1.5rem;
	
}

.pageheader {
    padding: 5px;
    text-align:center;
    background:transparent;
    color:#000000;
    font-size: 1.0rem;
    font-family:'Josefin Sans', sans-serif;
}

#quizRegister {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
	
.mytablestyle{
 border-spacing: 5px;
 border-collapse: collapse;
 padding:5px; 
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    border: 1px;
    
}