body {
	background-color: #f7f7f7;
    	font-family:'Josefin Sans', sans-serif;
    	margin-top: 30px;
}

.form_div {
	box-shadow: 3px 3px solid black;
	margin: 0 auto;
	width: 40%;
	text-align: center;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#SubmitMessage {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

.modal-content {
	display: block;
    font-family: Verdana;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 0;
    color: #fff;
    text-align: center;
}

.close {
  color: #fff;
    display: block;
    float: right;
    font-family: Verdana;
    font-size: 22px;
    height: 25px;
    text-decoration: none;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:2.5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 40%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  margin-top: 15%;
  margin-left: 30%;
  margin-right: 20%;
}

#quizhead {
	font-size: 1.5 em;
	font-family:'Josefin Sans', sans-serif;
}

#quiztitle {
	width: 240px;
	padding: 10px;
	margin: 10px;
	height: 24px;
	border: 2px solid black;
	
}

#quizheadbaner {
	background-color: green;
	color: white;
	padding: 20px;
	text-align: center;
}

#quizdetailsform {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#minutecounter {
	height: 24px;
	width: 56px;
}

#submitdesc{
	background-color: green;
	font-size: 1.7rem;
	margin: 10px;
	font-family:'Josefin Sans', sans-serif;
}

#takeQuiz{
    margin-left: 642px;
}