body {
	background-color: #FFFFFF
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 0px;
	background-color: #cae8ca;
	border: 0px solid #4CAF50;
	text-align: right;
}

#mid {
	position: static;
	width: 250px;
	height: 1000px;
	background: green;
	left: 10px;
	top: 100px;
	text-align: left;
}

#mid1 {
	position: absolute;
	width: 1500px;
	height: 1000px;
	background: white;
	left: 260px;
	top: 100px;
	text-align: left;
}

#mid2 {
	text-align: right;
}
