@charset "UTF-8";

body {
	background:#FAFAD2;
}

#content {
    position: fixed;
    margin: 10px;
    border-style: solid; 
    width:95%;
	height:95%;
}

#content #title {
	position: fixed;
	margin:40px 0px 0px 200px;
}

#content #instruc{
	width:500px;
	height:200px;
}

#content #instrcu_all{
	position: fixed;
	margin:80px 0px 0px 200px;
}

#content #attemp
{
	position: fixed;
	margin: 360px 0px 0px 200px;
}

#content #mulbtn {
	position: fixed;
	padding:8px;
	margin: 400px 0px 0px 200px;
}

#beginbtn {
	position: fixed;
	padding:8px;
	margin: 400px 0px 0px 400px;
}