@charset "UTF-8";

body {
	background:#FAFAD2;
}

#content {
	margin: auto;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-style: solid; 
}

#content #title {
	margin: auto;
	position: absolute;
	top: -350px;
    left: 0px;
    right: 340px;
    bottom: 0;
}

#content #instruc{
	width:500px;
	height:200px;
}

#content #instrcu_all{
	position: absolute;
	margin: auto;
	top: 100px;
    left: 200px;
    right: 0;
    bottom: 0;
}

#content #attemp
{
	position: absolute;
	margin: auto;
	top: 400px;
    left: 200px;
    right: 0px;
    bottom: 0px;
}

#content #mulbtn {
	width:80px;
	height:30px;
	position: absolute;
	top: 430px;
    left: 200px;
    right: 0px;
    bottom: 0px;
	
}