h2 {
	padding-left: 20px;
	margin-top: 10px;
	float: left;
}

h3 {
	padding-left: 20px;
	margin-top: 10px;
	float: left;
}

h4 {
	padding-right: 20px;
	margin-top: 15px;
	float: right;
}

input {
	margin-top: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	-webkit-appearance: checkbox; /* Chrome, Safari, Opera */
	-moz-appearance: checkbox; /* Firefox */
	-ms-appearance: checkbox; /* not currently supported */
}

hr {
	margin: 15px 10px;
}

a {
	text-decoration: none;
	color: #FFF;
}

.head-section {
	margin: auto;
	padding-left: 30px;
}

.question-board {
	margin: auto;
	width: 600px;
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid;
	border-color: #dbd9ca;
	border-radius: 10px;
	overflow: hidden;
}

.question-top-area {
	width: 100%;
	height: 40px;
	background: #cacaca;
	-moz-border-radius: 10px 10px 0 0;
	clear: both;
}

.question-title {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 17px;
}

.selection-area {
	margin-left: 10px;
	margin-right: 10px;
}

.rainbow-button {
	width: calc(10vw + 6px);
	height: calc(5vw + 6px);
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF
		100%);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
	font-weight: bold;
	margin-top: 10px;
}

.rainbow-button:after {
	content: attr(alt);
	width: 10vw;
	height: 5vw;
	background-color: #191919;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rainbow-button:hover {
	animation: slidebg 2s linear infinite;
}

@
keyframes slidebg {to { background-position:20vw;
	
}

}
.bottom-area {
	width: 70%;
	margin: 0 auto;
	border: 1px solid;
	border-color: #dbd9ca;
	border-radius: 3px;
	height: 50px;
	display: flex;
	align-items: center;
	direction: rtl;
}
