body{background_color:"#ebebe0"}
#top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px;
  background-color: #cae8ca;
  border: 0px solid #4CAF50;
  text-align: right;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  #mid{
position:absolute;
  width:2050px;
  height:1000px;
  background:#cae8ca;
  left:0px;
      margin :0 1000px 0 -300px; /*left-right-top-bottom-depend on ur choice*/
  
  top:70px;
text-align:center;

}
    