@charset "ISO-8859-1";
p {
	margin:1px 0 0 0;
	padding:0;
}

div {
	align:center;
	margin:0 0 0 130px;
	width: 80%;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

#red{
	color:#ff0000;
}

#choices {
	border:2px solid #ff0;
	margin:0 auto;
	width:60%;
	height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

#questions {
	border-top:2px solid #828282;
	padding:5px;
	margin:0 auto;
	width:60%;
	height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}